/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/*
 /* --- RESET --- */

 html, body, header, nav, h1, a, ul, li,
 strong, main, section, img, div, h2, p,
 form, fieldset, label, input textarea,
 button, article, footer, small {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font: inherit;
   box-sizing: inherit;
   text-align: inherit;
   text-decoration: inherit;
   vertical-align: inherit;
   color: inherit;
   background: transparent;
 }

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  letter-spacing: 0;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

ul {
  list-style: none;
}

.top-header {
  color: #1c9963;
  float:left;
  width: 900px;
  margin: 0 auto;

}

.header-links  {
  color: #02b875;
  float: right;
}

.header-links li {
  float: left;
  padding: 20px 10px;
  font-size: 14px;
}

.logo {
  padding: 20px;
  float: left;
  font-weight: bold;
  color: rgba(0,0,0,.75)
}

.group :after {
  content: "";
  clear: both;
  display: block;
}

.submitButton {
  color: #00ab6b;
  padding: 0;
  border-radius: 0;
  border: none;
  padding-left: 10px;
  background: transparent;
  font-size: 14px;
  margin: 0 auto;
}

.login-input {
  margin: 0 auto;
  border-bottom: 1px solid rgba(0,0,0,.15);
  display: block;
}
/*.signin-login-errors ul, li{
   list-style: none;
   color: red;
 }*/
