/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/*
 /* --- RESET --- */

 html, body, header, nav, h1, a, ul, li,
 strong, main, section, img, div, h2, p,
 form, fieldset, label, input, textarea,
 button, article, footer, small {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font: inherit;
   box-sizing: inherit;
   text-align: inherit;
   text-decoration: inherit;
   vertical-align: inherit;
   color: inherit;
   background: transparent;
 }

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  letter-spacing: 0;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

ul {
  list-style: none;
}

.form-heading {
  display: block;
  width: 100%;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  background-color: #f0f0f0;
  padding: 24px 0 24px 32px;
  overflow: hidden;
  color: rgba(0,0,0,0.8);
}

.top-header {
  color: #1c9963;
  float:left;
  width: 900px;
  margin: 0 auto;

}

.header-links  {
  color: #02b875;
  float: right;
}

.header-links li {
  float: left;
  padding: 20px 10px;
  font-size: 14px;
}

.logo {
  padding: 20px;
  float: left;
  font-weight: bold;
  color: rgba(0,0,0,.75)
}

.group :after {
  content: "";
  clear: both;
  display: block;
}

.session-form {
  font-size: 14px;
  margin: 0 auto;
}

.submitButton {
  width: 100%;
  height: 58px;
  border-radius: 2px;
  font-size: 16px;
  text-align: left;
  margin-left: 30px;
  padding-left: 20px;
  max-width: 456px;
  border: 1px solid #00ab6b;
  color: #00ab6b;
  cursor: pointer;
}

.submitButton:hover {
  background-color: rgba(0,0,0,.05);
  border: 1px solid #02b875;
  color: #00ab6b;
}

.guestsignIn {

}

.loginLabel {
  margin-top: 40px;
  margin-left: 40px;
  display: block;
}


.login-input {
  margin: 0 auto;
  border-bottom: 1px solid rgba(0,0,0,.15);
  display: block;
  width: 85%;
  padding-top: 20px;
}
/*.signin-login-errors ul, li{
   list-style: none;
   color: red;
 }*/
