button:hover{
  cursor: pointer;
}

.metabar {
  position: absolute;
  display: block;
  z-index: 500;
  width: 100%;
  font-size: 14px;
  background: #fff;
  color: rgba(0,0,0,.44);
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  letter-spacing: 0;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
  top: 0;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.15);

}

.top-header {
  color: #1c9963;
  max-width: 900px;
  margin: 0 auto;

}

.header-links  {
  color: #02b875;
  float: right;
}

.header-links li {
  float: left;
  padding: 20px 10px;
  font-size: 14px;
}

.logo {
  padding: 20px;
  float: left;
  font-weight: bold;
  color: rgba(0,0,0,.75)
}

.group :after {
  content: "";
  clear: both;
  display: block;
}

.session-form {
  font-size: 14px;
  margin: 0 auto;
}

.submitButton {
  width: 100%;
  height: 58px;
  border-radius: 2px;
  font-size: 16px;
  text-align: left;
  margin-left: 30px;
  margin-top: 20px;
  padding-left: 20px;
  max-width: 456px;
  border: 1px solid #00ab6b;
  color: #00ab6b;
  cursor: pointer;
}

.submitButton:hover {
  background-color: rgba(0,0,0,.05);
  border: 1px solid #02b875;
  color: #00ab6b;
}

.guestsignIn {

}

.loginLabel {
  margin-top: 35px;
  margin-left: 40px;
  display: block;
}


.login-input {
  margin: 0 auto;
  border-bottom: 1px solid rgba(0,0,0,.15);
  display: block;
  width: 85%;
  padding-top: 20px;
}
.signin-login-errors {
   list-style: none;
   color: red;
   margin-left: 190px;

 }
