.postDetailTitle {
  --x-height-multiplier: 0.363;
  --baseline-multiplier: 0.157;
  font-family: medium-content-sans-serif-font,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
  letter-spacing: -.02em;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  margin-left: -2.5px;
  line-height: 1.04;
  letter-spacing: -.028em;
  padding-bottom: 10px;
}
.postDetail {
  display: block;
  padding-top: 105px;
  max-width: 740px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;

}
.postDetailBody {
  margin-top: 38px;
  --x-height-multiplier: 0.35;
  --baseline-multiplier: 0.179;
  font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
  letter-spacing: .01rem;
  font-weight: 400;
  font-style: normal;
  font-size: 21px;
  line-height: 1.58;
  letter-spacing: -.003em;
}

.author-bio {
  color: rgba(0,0,0,.8);
  font-size: 15px;
}

.commentStreamItem {
  padding-top: 10px;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0,0,0,.04);
  border: 1px solid rgba(0,0,0,.09);
  max-width: 660px;
  margin-top: 20px;
  margin-bottom: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  letter-spacing: 0;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-size: 18px;
  line-height: 1.58;
  letter-spacing: -.004em;
}

.commentBody {
  margin-top: 38px;
  --x-height-multiplier: 0.35;
  --baseline-multiplier: 0.179;
  font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
  letter-spacing: .01rem;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 1.58;
  letter-spacing: -.003em;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.authorAboutComment {
  font-size: 14px;
  line-height: 1.4;
  padding-left: 10px;
  text-rendering: auto;
  color: #1C9963;
}

.editLink {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  text-align: left;
  width: 100%;
  line-height: 1.4;
  font-size: 14px;
  white-space: nowrap;
}

.commentsubmitButton {
    display: inline-block;
    position: relative;
    height: 37px;
    padding: 0 16px;
    color: rgba(0,0,0,.44);
    background: rgba(0,0,0,0);
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid rgba(0,0,0,.15);
    vertical-align: bottom;
    white-space: nowrap;
    text-rendering: auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box;
    border-radius: 999em;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    letter-spacing: 0;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: #00ab6b;
    border-color: #02b875;
}

.FollowedButton {
  display: inline-block;
  position: relative;
  height: 37px;
  padding: 0 16px;
  color: rgba(0,0,0,.44);
  background: rgba(0,0,0,0);
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid rgba(0,0,0,.15);
  vertical-align: bottom;
  white-space: nowrap;
  text-rendering: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box;
  border-radius: 999em;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  letter-spacing: 0;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: #00ab6b;
  border-color: #02b875;
}

.write-a-comment-wrapper {
  margin-top: 30px;
  display: block;
}

.write-a-comment-form {
  background: #fff;
  box-shadow: 0 1px 4px rgba(0,0,0,.04);
  border: 1px solid rgba(0,0,0,.09);
  margin-bottom: 10px;
  padding: 10px 20px 15px 20px;
  max-width: 620px;
}

.comment-text-area {
  display: block;
  margin-left: 10px;
  height: 168px;
  width: 500px;
  border: none;
  resize: none;
  font-size: 18px;
}
