.story-index-title {
  font-size: 30px;
  padding-top: 16px;
  font-weight: 700;
  margin-left: -1.81px;
  line-height: 1.04;
  letter-spacing: -.028em;
  padding-bottom: 10px
}

.story-index-body-preview {
  color: rgba(0,0,0,.44);
  font-size: 22px;
  line-height: 1.22;
  letter-spacing: -.004em;
}


.story-footer {
  margin: 10px 0 10px 0;
}

.story-index-image-small {
  max-width: 85%;
    display: block;
  box-sizing: border-box;
  padding: 20px;
  margin: 0 auto;
  max-height: 500px;
}

.story-index-author-info {
  color: #00ab6b;
  text-decoration: none;
  display: table-cell;
  vertical-align: middle;
  font-size: 16px;
  line-height: 1.4;
  padding-left: 10px;
  text-rendering: auto;

}

.padding {
  padding-bottom: 10px;
}

.read-more {
  font-size: 14px;
  color: rgba(0,0,0,.44);
  padding-bottom: 5px;
  text-align: left;
  vertical-align: baseline;
}

.stories-index {
   max-width: 1000px;
}

.story-index-image {
  display: block;
  width: 85%;
  margin: auto;
  box-sizing: border-box;
  padding-bottom: 20px;
}

.home-stream-container {
  background: #fafafa;
  max-width: 1000px;
  padding-top: 80px;
  margin: 0 auto;
  display: block;
}

.home-sidebar-container {
  display: inline-block;
}

.home-stream-background {
  width: 100%;
  background: #fafafa;
  min-height: 100vh;
}

.index-item {
  background: #fff;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.04);
  border: 1px solid rgba(0,0,0,.09);
  margin-bottom: 10px;
  padding: 10px 20px 0px 20px;
}

.index-item:hover {
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
}

.form-heading {
  display: block;
  width: 100%;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  background-color: #f0f0f0;
  padding: 24px 0 24px 32px;
  overflow: hidden;
  color: rgba(0,0,0,0.8);
}


.alreadyLikedButton {
  padding: 5px;
  width: 18px;
  overflow: hidden;
}


.LikeButton {
  width: 18px;
  padding: 5px;
}
